body {
	background:#ffe;
	font-family:helvetica;
}

header {
	background: #005957;
	width: 100%;
	height: 150px;
	margin-bottom: 5px;
}

h1 {
	text-align: center;
	display: block;
	margin: 0 auto;
}

section {
	width:35%;
	background: green;
	height: 500px;
	margin-bottom: 5px;
	float: right;
}

aside {
	width:64%;
	background: #FFCE00;
	height: 500px;
	margin-bottom: 5px;
	float: left;
}

footer {
	background: #22D0E0;
	width: 100%;
	height: 150px;
	clear: left;
}